# =========================
# Python
# =========================
.venv/
venv/
env/
__pycache__/
*.py[cod]

# =========================
# Environment / secrets
# =========================
.env
.env.*
!.env.example

# =========================
# Node
# =========================
node_modules/
dist/
.vite/

# =========================
# macOS
# =========================
.DS_Store

# =========================
# IDE
# =========================
.vscode/
.idea/